{
  "root": true,
  "extends": [
    "next/core-web-vitals"
  ],
  "rules": {
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  }
}
