{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "nesting-selector-no-missing-scoping-root": null
  },
  "overrides": [
    {
      "files": ["./src/**/!(*.spec).{js,jsx}"],
      "customSyntax": "postcss-styled-syntax"
    }
  ]
}
